@import url("stylesheet.css");

#panel.bottom-panel {
    border-top-width: 1px;
    border-bottom-width: 0px;
    height: 2.25em !important;
  }

  .bottom-panel .window-button > StWidget {
    background-color: #3F4747 !important;
    background-gradient-direction: vertical;
    background-gradient-end: #373737;
    color: #fff !important;
    border-radius: 2px !important;
    padding: 4px 6px 2px !important;
    text-shadow: 0 0 transparent;
    box-shadow: inset -1px -1px 1px rgba(0,0,0,0.5) !important;
  }

  .bottom-panel .window-button:hover > StWidget {
    background-color: #393F3F !important;
    background-gradient-end: #303030;
  }

  .bottom-panel .window-button:active > StWidget {
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5) !important;
  }

  .bottom-panel .window-button.focused > StWidget {
    background-color: #393F3F !important;
    background-gradient-end: #101010;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5) !important;
  }

  .bottom-panel .window-button.focused:hover > StWidget {
    background-color: #393F3F !important;
    background-gradient-end: #606060;
  }

  .bottom-panel .window-button.minimized > StWidget {
    color: #888 !important;
    box-shadow: inset -1px -1px 1px rgba(0,0,0,0.4) !important;
  }

